[Unit]
Description=Telegram bot 'multi_signals_bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot/multi_signals_binance_bot
ExecStart=/usr/bin/python3 /usr/local/bin/bot/multi_signals_binance_bot/data_analizer.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target