[Unit]
Description=FUTURES candles collector
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot/multi_signals_binance_bot
ExecStart=/usr/bin/python3 /usr/local/bin/bot/multi_signals_binance_bot/fut_candles_collector.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target